
{%  extends "base.html" %}
{% load static %}

{% block content %}
<div class="card shadow-lg border-0" style="width: 18rem;">
  <div class="card-header bg-primary text-white text-center">
    Web Framework Specialist
  </div>
  <img src="{% static 'images/me.jpg' %}" class="card-img-top" alt="Profile Image">
  <div class="card-body">
    <h5 class="card-title text-center">Mick</h5>
    <p class="card-text text-muted">
      Mick has over a decade of experience working with web frameworks.
    </p>
  </div>
</div>
{% endblock %}

